* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

a {
    text-decoration: none;
}

nav {
    padding-top: 2rem;
}

.logo {
    width: 200px;
}

#welcome,
#about,
#services,
#testimonies,
#contact {
    width: 90%;
    height: 20rem;
    border: 2px solid red;
    border-radius: 5rem;
    padding: 3rem;
    margin: 2rem auto;
}

.flex {
    display: flex;
    height: 100%;
}

p {
    width: 50%;
    max-width: 100%;
    max-height: 100%;
    overflow: auto;
}

ul {
    list-style: none;
}

#navbar {
    width: 75vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* gap: 2rem; */
    border: 2px solid red;
}

li {
    flex: 1;
}

#welcome {
    background-color: rgba(253, 214, 220, 1);
}

#about {
    background-color: rgba(254, 223, 194, 1);
}

#services {
    background-color: rgba(193, 234, 222, 1);
}

#testimonies {
    background-color: rgba(183, 227, 242, 1);
}

#contact {
    background-color: rgba(209, 213, 248, 1);
}

p {
    font-size: 1.5rem;
}